Repository voxpupuli/puppet-epel, pull requests merged in 2020-02, with the labels that each got.

#96 Release 2.0.0 candidate
  README.md
  metadata.json
Labels: enhancement

#104 Modulesync 2.11.0
  .editorconfig
  .fixtures.yml
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .sync.yml
  .travis.yml
  .yardopts
  Dockerfile
  Gemfile
  HISTORY.md
  Rakefile
  manifests/init.pp
  manifests/params.pp
  spec/classes/epel_spec.rb
  spec/defines/rpm_gpg_key_spec.rb
  spec/spec_helper.rb
Labels: modulesync

#109 Drop support for Puppet 3 and 4
  README.md
  REFERENCE.md
  manifests/init.pp
  manifests/params.pp
  manifests/rpm_gpg_key.pp
  metadata.json
Labels: backwards-incompatible

#112 Add best effort support for Amazon Linux 2016,2018
  manifests/params.pp
Labels: enhancement

#114 Release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
