Repository voxpupuli/puppet-epel, pull requests merged in 2021-11, with the labels that each got.

#126 Drop EoL Puppet 5 support
  metadata.json
Labels: backwards-incompatible

#124 modulesync 5.0.1
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .puppet-lint.rc
  .rspec
  .rspec_parallel
  .rubocop.yml
  .yardopts
  Dockerfile
  Gemfile
  Rakefile
  spec/acceptance/basic_spec.rb
  spec/acceptance/usage_spec.rb
  spec/classes/epel_spec.rb
  spec/classes/shared_base.rb
  spec/classes/shared_debuginfo.rb
  spec/classes/shared_gpgkey.rb
  spec/classes/shared_source.rb
  spec/classes/shared_testing.rb
  spec/classes/shared_testing_debuginfo.rb
  spec/classes/shared_testing_source.rb
  spec/defines/rpm_gpg_key_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#132 Update README `compatibility` section
  README.md
Labels: docs
